.star {
  @import url("https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=EB+Garamond&family=Orbitron:wght@900&family=Passion+One:wght@700&display=swap");
  font-family: Garamond;
  font-size: 2.5rem;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #fc8515, #e1cbcb);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.starC {
  @import url("https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=EB+Garamond&family=Orbitron:wght@900&family=Passion+One:wght@700&display=swap");
  font-family: Garamond;
  font-size: 2.5rem;
  background-color: #ee9e1c;
  background-image: linear-gradient(45deg, #fc8515, #e1cbcb);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.brd {
  border: 5px solid rgb(238, 158, 28);
}

.starA {
  font-family: Garamond;
  font-size: 3rem;
  font-weight: bold;

  background-image: linear-gradient(to left, yellow, orange, red);
  /* PUT THIS CODE BACK IN TO REMOVE BACKGROUND FROM CARDS */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.cardstyle {
  text-align: center;
}

.gavinMerch {
  width: 160%;
}
.intro {
  width: 100%;
}
.peterStyle {
  width: 50%;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.merchStyle {
  width: 55%;
}

.bkg {
  background: url(https://static.bandainamcoent.eu/high/elden-ring/elden-ring/00-page-setup/elden-ring-new-header-mobile.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* background-color: rgb(174, 0, 0); */
}
.banner {
  width: 100%;
  height: 400px;
}

.storebanner {
  width: 450px;
  height: 450px;
}

@media screen and (max-width: 992px) {
  .bg-image {
    height: 35rem !important;
  }
}
@media screen and (max-width: 820px) {
  .bg-image {
    height: 29rem !important;
  }
}

@media screen and (max-width: 576px) {
  .bg-image {
    height: 15rem !important;
  }
}
